<!DOCTYPE HTMLs PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- Bootstrap core CSS -->
		<link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/static/bootstrap/cover.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="/static/bootstrap/ie-emulation-modes-warning.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<title>Data Analytics</title>
		<link rel="stylesheet" href="/static/amcharts/style.css" type="text/css">

		<script src="/static/amcharts/amcharts.js" type="text/javascript"></script>
		<script src="/static/amcharts/serial.js" type="text/javascript"></script>
		<script src="/static/amcharts/amstock.js" type="text/javascript"></script>
		<script src="/static/nodeData/node0.json" type="text/javascript"></script>
		<script src="/static/nodeData/node1.json" type="text/javascript"></script>
		<script src="/static/nodeData/node2.json" type="text/javascript"></script>
		<script src="/static/nodeData/node3.json" type="text/javascript"></script>
		<script src="/static/nodeData/node4.json" type="text/javascript"></script>
		<script src="/static/nodeData/node5.json" type="text/javascript"></script>
		<script src="/static/nodeData/node6.json" type="text/javascript"></script>
		<script src="/static/nodeData/node7.json" type="text/javascript"></script>
		<script src="/static/nodeData/node8.json" type="text/javascript"></script>
		<script src="/static/nodeData/node9.json" type="text/javascript"></script>
		<script src="/static/nodeData/node10.json" type="text/javascript"></script>




		<script type="text/javascript">

			var chartStock1 = [];
			var chartStock2 = [];
			var chartStock3 = [];
			var chartStock4 = [];

			generateChartData();

			function generateChartData() {
				var firstDate = new Date();
				firstDate.setDate(firstDate.getDate() - 500);
				firstDate.setHours(0, 0, 0, 0);

				for (var i = 0; i < 500; i++) {
					var newDate = new Date(firstDate);
					newDate.setDate(newDate.getDate() + i);

					var a1 = Math.round(Math.random() * (40 + i)) + 100 + i;
					var b1 = Math.round(Math.random() * (1000 + i)) + 500 + i * 2;

					var a2 = Math.round(Math.random() * (100 + i)) + 200 + i;
					var b2 = Math.round(Math.random() * (1000 + i)) + 600 + i * 2;

					var a3 = Math.round(Math.random() * (100 + i)) + 200;
					var b3 = Math.round(Math.random() * (1000 + i)) + 600 + i * 2;

					var a4 = Math.round(Math.random() * (100 + i)) + 200 + i;
					var b4 = Math.round(Math.random() * (100 + i)) + 600 + i;

					chartStock1.push({
						date: newDate,
						value: a1,
						volume: b1
					});
					chartStock2.push({
						date: newDate,
						value: a2,
						volume: b2
					});
					chartStock3.push({
						date: newDate,
						value: a3,
						volume: b3
					});
					chartStock4.push({
						date: newDate,
						value: a4,
						volume: b4
					});
				}
			}

			AmCharts.makeChart("chartdiv", {
				type: "stock",
				pathToImages: "/static/amcharts/images/",
				dataSets: [
				{
                                        title: "TEST1",
                                        fieldMappings: [{
                                                fromField: "value",
                                                toField: "value"
                                        }, {
						fromField: "volume",
                                                toField: "volume"
                                        }],
                                        dataProvider: chartStock1,
                                        categoryField: "date"
				},
					
				{
                                        title: "TEST2",
                                        fieldMappings: [{
                                                fromField: "value",
                                                toField: "value"
                                        }, {
						fromField: "volume",
                                                toField: "volume"
                                        }],
                                        dataProvider: chartStock2,
                                        categoryField: "date"
				},
					
				{
                                        title: "TEST3",
                                        fieldMappings: [{
                                                fromField: "value",
                                                toField: "value"
                                        }, {
						fromField: "volume",
                                                toField: "volume"
                                        }],
                                        dataProvider: chartStock3,
                                        categoryField: "date"
				},
				
				{
                                        title: "Node 0",
                                        fieldMappings: [{
                                                fromField: "water_value",
                                                toField: "value"
                                        }, {
                                                fromField: "water_value",
                                                toField: "volume"
                                        }],
                                        dataProvider: chartData0,
					categoryField: "time"
				},

				{
					title: "Node 1",
					fieldMappings: [{
						fromField: "water_value",
						toField: "value"
					}, {
						fromField: "water_value",
						toField: "volume"
					}],
					dataProvider: chartData1,
					categoryField: "time"
				},

				{
					title: "Node 2",
					fieldMappings: [{
						fromField: "water_value",
						toField: "value"
					}, {
						fromField: "water_value",
						toField: "volume"
					}],
					dataProvider: chartData2,
					categoryField: "time"
				},

				{
					title: "Node 3",
					fieldMappings: [{
						fromField: "water_level",
						toField: "value"
					}, {
						fromField: "water_level",
						toField: "volume"
					}],
					dataProvider: chartData3,
					categoryField: "time"
				},

				{
					title: "Node 4",
					fieldMappings: [{
						fromField: "water_level",
						toField: "value"
					}, {
						fromField: "water_level",
						toField: "volume"
					}],
					dataProvider: chartData4,
					categoryField: "time"
				},
				{
                                        title: "Node 5",
                                        fieldMappings: [{
                                                fromField: "water_level",
                                                toField: "value"
                                        }, {
                                                fromField: "water_level",
                                                toField: "volume"
						    }],
                                        dataProvider: chartData5,
                                        categoryField: "time"
				}],

				panels: [{

					showCategoryAxis: false,
					title: "Water Level (in cm)",
					percentHeight: 70,

					stockGraphs: [{
						id: "g1",

						valueField: "value",
						comparable: true,
						compareField: "value",
						bullet: "round",
						bulletBorderColor: "#FFFFFF",
						bulletBorderAlpha: 1,
						balloonText: "[[title]]:<b>[[value]]</b>",
						compareGraphBalloonText: "[[title]]:<b>[[value]]</b>",
						compareGraphBullet: "round",
						compareGraphBulletBorderColor: "#FFFFFF",
						compareGraphBulletBorderAlpha: 1
					}],

					stockLegend: {
						periodValueTextComparing: "[[value.close]]",
						periodValueTextRegular: "[[value.close]]"
					}
				},

				{
					title: "Volume",
					percentHeight: 30,
					stockGraphs: [{
						valueField: "volume",
						type: "column",
						showBalloon: false,
						fillAlphas: 1
					}],


					stockLegend: {
						periodValueTextRegular: "[[value.close]]"
					}
				}],

				chartScrollbarSettings: {
					graph: "g1"
				},

				chartCursorSettings: {
					valueBalloonsEnabled: true,
					valueLineEnabled:true,
					valueLineBalloonEnabled:true
				},

				periodSelector: {
					position: "left",
					periods: [{
						period: "DD",
						count: 10,
						label: "10 days"
					}, {
						period: "MM",
						selected: true,
						count: 1,
						label: "1 month"
					}, {
						period: "YYYY",
						count: 1,
						label: "1 year"
					}, {
						period: "YTD",
						label: "YTD"
					}, {
						period: "MAX",
						label: "MAX"
					}]
				},

				dataSetSelector: {
					position: "left"
				}
			});
		</script>
	</head>
	<!-- <body style="background-color:#FFFFFF">-->
	  <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="..">Home</a></li>
		  <li><a href="../data">Sensor Map</a></li>
                  <li class="active"><a href=".">Analytics</a></li>
                  <li><a href="../contact">Contact</a></li>
                </ul>
              </nav>
              <h4>Data Analytics</h4>
	  </div>

	  <div class="mastfoot">
	    <div class="inner">
              <p>Website created by King Mui and Niklas Kunkel running on Django and Bootstrap</p>
	    </div>
	  </div>
	  
	  <div id="chartdiv" style="width:100%; height:550px;"></div>
	</body>

</html>
