eqfeed_callback({
    "type": "FeatureCollection",
    "features": [
                 {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.086285, 42.362286 ]
                 },
                 "properties": {
                 "nodeNumber": "KendallSquare",
                 "waterLevel": "3",
                 "longitude":"-71.086285",
                 "latitude":"42.362286"
                 }
                 },

		{
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.094525, 42.339297 ]
                 },
                 "properties": {
                 "nodeNumber": "MFA",
                 "waterLevel": "3",
                 "longitude":"-71.094525",
                 "latitude":"42.339297"
                 }
                 },


                 {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.1264603, 42.3511443 ]
                 },
                 "properties": {
                 "nodeNumber": "PackardsCorner",
                 "waterLevel": "3",
                 "longitude":"-71.1264603",
                 "latitude":"42.3511443"
                 }
                 },
                 {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.070235, 42.364601 ]
                 },
                 "properties": {
                 "nodeNumber": "MassGen",
                 "waterLevel": "4",
                 "longitude":"-71.070235",
                 "latitude":"42.364601"
                 }
                 },
                 {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.079462, 42.349093 ]
                 },
                 "properties": {
                 "nodeNumber": "LenoxHotel",
                 "waterLevel": "3",
                 "longitude":"-71.079462",
                 "latitude":"42.349093"
                 }
                 },
                                  {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.095212, 42.348744 ]
                 },
                 "properties": {
                 "nodeNumber": "Kenmore",
                 "waterLevel": "4",
                 "longitude":"-71.095212",
                 "latitude":"42.348744"
                 }
                 },
                                  {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.120145, 42.351313 ]
                 },
                 "properties": {
                 "nodeNumber": "TsPub",
                 "waterLevel": "4",
                 "longitude":"-71.120145",
                 "latitude":"42.351313"
                 }
                 },
                                  {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.094525, 42.353692 ]
                 },
                 "properties": {
                 "nodeNumber": "CharlesRiver",
                 "waterLevel": "5",
                 "longitude":"-71.094525",
                 "latitude": "42.353692"
                 }
                 }
                 ]
});
