eqfeed_callback({
    "type": "FeatureCollection",
    "features": [
                 {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.086285, 42.362286 ]
                 },
                 "properties": {
                 "nodeNumber": "KendallSquare",
                 "waterLevel": "3"
                 }
                 },
                 {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.1264603, 42.3511443 ]
                 },
                 "properties": {
                 "nodeNumber": "PackardsCorner",
                 "waterLevel": "3"
                 }
                 },
                 {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.070235, 42.364601 ]
                 },
                 "properties": {
                 "nodeNumber": "MassGen",
                 "waterLevel": "4"
                 }
                 },
                 {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.079462, 42.349093 ]
                 },
                 "properties": {
                 "nodeNumber": "LenoxHotel",
                 "waterLevel": "3"
                 }
                 },
                                  {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.095212, 42.348744 ]
                 },
                 "properties": {
                 "nodeNumber": "Kenmore",
                 "waterLevel": "4"
                 }
                 },
                                  {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.120145, 42.351313 ]
                 },
                 "properties": {
                 "nodeNumber": "TsPub",
                 "waterLevel": "4"
                 }
                 },
                                  {
                 "type": "Feature",
                 "geometry": {
                 "type": "Point",
                 "coordinates": [ -71.094525, 42.353692 ]
                 },
                 "properties": {
                 "nodeNumber": "CharlesRiver",
                 "waterLevel": "5"
                 }
                 }
                 ]
});